<% content_for(:title, "Is '#{@episode.title}' from #{@episode.show.title} on tonight?".html_safe)%>

<p id="notice"><%= notice %></p>

<div class="centered">
  <h1>
    <small class="text-muted">Is </small> "<%= @episode.title %>" <small class="text-muted">from</small> <%= link_to @episode.show.title, show_path(@episode.show) %><small class="text-muted"> on tonight?</small>

  <% if @episode.air_date.to_date == Date.current %>
    <span class="green">YES</span>
  <% else %>
    <span class="red">NO</span>
  <% end %>
  </h1>
  <p class="lead">
    Season <%= @episode.season %>, Episode <%= @episode.number %>
    <br/>
    Airs <%= @episode.air_date.strftime("%A, %B %d, %Y") %>
    <br />
  More info:
  <% if @episode.tvdb_id %>
    <a href="https://trakt.tv/search/tvdb?utf8=%E2%9C%93&query=<%= @episode.tvdb_id %>" target="_blank">Trakt</a>
  <% end %>
  </p>
  <div class="margin-top-25">
    <%= link_to @episode.show.title, show_path(@episode.show), { :class=>"btn btn-primary btn-sm" } %>
    <a href="/" class="btn btn-primary btn-sm" role="button">Shows On Tonight</a>
  </div>
</div>
