<p id="notice"><%= notice %></p>

<h3>
  <%= @episode.show.title %>
</h3>
<h1>
  <%= @episode.title %>
</h1>


<p>
  <strong>Number:</strong>
  <%= @episode.number %>
</p>

<p>
  <strong>Season:</strong>
  <%= @episode.season %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', show_path(@episode.show) %>
