<% content_for(:title, "Is '#{@episode.title}' of #{@episode.show.title} on tonight?".html_safe)%>

<p id="notice"><%= notice %></p>


<h1>
  <small class="text-muted">Is </small> "<%= @episode.title %>" <small class="text-muted">from</small> <%= @episode.show.title %> <small class="text-muted">on tonight?</small>
</h1>

<p class="lead">
  Season <%= @episode.season %>, Episode <%= @episode.number %>
</p>

<div class="jumbotron">
  <h1 class=""><%= @episode.air_date.strftime("%A, %B %d, %Y") %></h1>
</div>


<%= link_to 'Back', show_path(@episode.show) %>
