<% content_for(:title, "Is #{@show.title} on tonight?".html_safe) %>

<p id="notice"><%= notice %></p>

<h1>
  <small class="text-muted">Is</small> <%= @show.title %> <small class="text-muted">on tonight?</small>
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Season</th>
      <th>Episode</th>
    </tr>
  </thead>

  <tbody>
    <% @show.episodes.each do |episode| %>
      <tr>
        <td>"<%= link_to episode.title, show_episode_path(episode.show, episode) %>"</td>
        <td><%= episode.air_date.strftime("%A, %B %d, %Y") %></td>
        <td><%= episode.season %></td>
        <td><%= episode.number %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back', '/' %>
