<% content_for(:title, "Shows on tonight".html_safe) %>

<p id="notice"><%= notice %></p>

<h1>TV shows on tonight</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Show</th>
      <th>Episode</th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= link_to episode.show.title, episode.show %></td>
        <td>"<%= link_to episode.title, show_episode_path(episode.show, episode) %>" <small>Season <%= episode.season %> Episode <%= episode.number %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>
